@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    font-family: 'Poppins', sans-serif;
    flex: 1 0 auto;
}

.no-border {
    border: 0;
}

.margin-t5 {
    margin-top: 5rem;
}

.margin-t8 {
    margin-top: 8rem;
}

.margin-b5 {
    margin-bottom: 5rem;
}

.justify-text {
    text-align: justify;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}
